*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    overflow: hidden;
}
.navBtn_container{
    display: none;
    position: absolute;
    left: 10px;
    margin-top: 10px;
    z-index: 2;

    transition: left 1s;
}
.navBtn_container button{
    width: 60px;
    padding: 10px;
}
.nav_container{
    width: 300px;
    height: 100%;
    background-color: rgb(238, 238, 238);
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 1;
    overflow-y: scroll;

    transition: left 1s;
}
.nav_container .img_container{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 30px;
}
.nav_container .img_container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.nav_container .intro_container{
    margin-bottom: 30px;
}
.nav_container .intro_container p{
    font-size: 12px;
    font-family: sans-serif;
    text-align: center;
}
.nav_container .intro_container p:first-child{
    font-size: 20px;
    font-family: "Arial Black";
    font-style: italic;
}
.nav_container .links_conatiner{
    list-style-type: none;
    margin-bottom: 30px;
}
.nav_container .links_conatiner li{
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav_container .links_conatiner li::after{
    content: "";
    display: block;
    visibility: hidden;
    border: 1px solid red;
    margin: auto;
    width: 0;

    transition: width .2s;
}
.nav_container .links_conatiner li:hover:after{
    visibility: visible;
    width: 100%;
}
.nav_container .links_conatiner li a{
    text-decoration: none;
    font-size: 18px;
}
.nav_container footer{
    text-align: center;
}
.main_container{
    width: calc(100% - 300px);
    height: 100%;
    position: relative;
    overflow-y: scroll;
}
.main_container .sections{
    width: 100%;
    min-height: 100%;
    position: absolute;
}

.main_container .home{
    background-image: url("bg-0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;

    transition: opacity 1s;
}
.main_container .home .info_container{
    position: absolute;
    top: 50%;
    width: 350px;
    left: 20%;

    transition: top 1s;
    transition-delay: 100ms;
}
.main_container .home .info_container .firstP{
    font-size: 4rem;
    font-family: serif;
    font-weight: bolder;
    margin-bottom: 20px;
}
.main_container .home .info_container .secondP{
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.main_container .home .info_container .thirdP button{
    width: 150px;
    height: 50px;
    background-color: rgba(245, 222, 179, 0);
    border: 1px solid black;
    border-radius: 5px;
}
.main_container .about{
    padding-left: 10px;
}

.main_container .about h4{
    margin-top: 100px;
    margin-bottom: 30px;
}
.main_container .about h2{
    margin-bottom: 30px;
}
.main_container .about p{
    margin-bottom: 20px;
    text-align: left;
}
.main_container .about .box_s2_container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}
.main_container .about .box_s2_container .box_s2{
    border-bottom: 3px solid black;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.166);
    width: 200px;
    height: 150px;
    font-size: 1.5rem;
    opacity: 0;
}
.main_container .about .box_s2_container .box_s2 p{
    margin-left: 30px;
}
.main_container .about .box_s2_container .box_s2 p:first-child{
    margin-top: 20px;
    font-size: 2rem;
    
}

.main_container .about .box_s2_container .box_one{
    transform: translate(-55px, 0px);
    transition: transform 1s, opacity 1s;
    transition-delay: 100ms;
}
.main_container .about .box_s2_container .box_two{
    transform: translate(0, -55px);
    transition: transform 1s, opacity 1s;
    transition-delay: 100ms;
}
.main_container .about .box_s2_container .box_three{
    transform: translate(0, 55px);
    transition: transform 1s, opacity 1s;
    transition-delay: 100ms;
}
.main_container .about .box_s2_container .box_four{
    transform: translate(45px, 0px);
    transition: transform 1s, opacity 1s;
    transition-delay: 100ms;
}
.main_container .about .announce_container{
    width: 100%;
    margin-top: 50px;
    padding: 50px;
    background-color: burlywood;
    opacity: 0;

    transform: translate(0, 100px);
    transition: transform 1s, opacity 1s;
}
.main_container .about .announce_container p{
    font-size: 3rem;
}
.main_container .about .announce_container button{
    width: 150px;
    height: 50px;
    background-color: rgba(240, 248, 255, 0);
    border: 1px solid black;
    margin-top: 20px;
}

.hidden{
    display: none;
}


@media only screen and (max-width: 1000px){
    .navBtn_container{
        display: block;
    }
    .nav_container{
        display: block;
        position: absolute;
        left: -300px;
    }
    .main_container{
        width: 100%;
    }

}